.telemetry-background {
    background-color: #9eedf7 !important;
}

.header-background {
    background-color: #82cfd9 !important;
}

.background-article {
    background-color: #F5F5F5 !important;
}

.card-background {
    background-color: #FAFAFA !important;
}

.rz-switch .rz-switch-circle {
    background: #9eedf7 !important;
}

.rz-switch.rz-switch-checked .rz-switch-circle {
    color: #82cfd9 !important;
}